<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110273773977-d0a9o5u31iga9rr4j6b0sokabk5jq6pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110273773977-d0a9o5u31iga9rr4j6b0sokabk5jq6pp</string>
	<key>API_KEY</key>
	<string>AIzaSyDC3REn6iU67MuteDbrwhV38PnfdQc69sw</string>
	<key>GCM_SENDER_ID</key>
	<string>110273773977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wuw.wuw</string>
	<key>PROJECT_ID</key>
	<string>wuwapp-c1367</string>
	<key>STORAGE_BUCKET</key>
	<string>wuwapp-c1367.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110273773977:ios:8c9b1a3c898bf5f54d1308</string>
	<key>DATABASE_URL</key>
	<string>https://wuwapp-c1367.firebaseio.com</string>
</dict>
</plist>